    <div class="d-flex flex-sm-column flex-row flex-nowrap align-items-center sticky-top bg-primary bg-gradient">
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
            <i class="bi-bootstrap fs-4"></i>
        </a>
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
            <li class="nav-item">
                <a href="{% url 'products' %}" class="link-opacity-50-hover nav-link link-dark py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                    <i class="bi bi-house fs-4"></i>
                </a>
            </li>
            <li>
                <a href="{% url 'new_products' %}" class="link-opacity-50-hover nav-link link-dark py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                    <i class="bi-speedometer2 fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="link-opacity-50-hover nav-link link-dark py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                    <i class="bi-table fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="link-opacity-50-hover nav-link link-dark py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                    <i class="bi-heart fs-4"></i>
                </a>
            </li>
            <li>
                <a href="#" class="link-opacity-50-hover nav-link link-dark py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                    <i class="bi-people fs-4"></i>
                </a>
            </li>
        </ul>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-person-circle h4   "></i>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
        </div>
    </div>